<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/Infinity.png" />
    <link rel="stylesheet" href="/static/login/login.css" />
    <title>Ad infinitum</title>

    <title>Document</title>
  </head>

  <body>
    <img class="bgimg" src="/static/images/houseee.png" />

    <form action="/login" method="post">
      <img src="static/images/infinity.png" class="logo" />
      <br />
      <input type="email" placeholder="Email address" name="email" required />
      <br />
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        autocomplete="off"
      />
      <br />
      {% if error %}
      <p class="error-message">{{error}}</p>
      {% endif %}
      <button class="mainButton">Log in</button>
      <br />
      <p2>Don't have an account? </p2>
      <a href="/register" class="register-button">Register</a>
    </form>
    <br />
    <br />
  </body>
</html>
