.container {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    width: 50px;
    text-align: center;
    font-size: medium;
}



.title {
    text-align: center;
    padding-top: 20px;
}

body {
    margin: 0;
}



.logo {
    height: 40px;
    position: absolute;
    top: 0;
    left: 20px;
}



.currentTemp p {
    display: inline-block;
    margin: auto;
}


.currentTemp p.small {
    vertical-align: top;
    line-height: 40px;
}

.currentTemp p.large {
    font-size: 100px;
    margin: auto;
}


.currentTemp {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}





.myChart {
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 100px;

}


.appbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: silver;
    color: #fff;

}

.logout-btn {
    position: static;
    height: 30px;
    margin-top: 5px;
    right: 0px;
    margin-right: 10px;
}

.welcome-title {
    font-size: 25px;
    color: black;
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content {
    display: block;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    text-align: center;
    display: none;
    color: black;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: -10px;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.dropdown-content a {
    text-decoration: none;

}

.show {
    display: block;
}