.container {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    width: 50px;
    text-align: center;
    font-size: medium;
}



.title {
    text-align: center;
    padding-top: 20px;
}

body {
    background-image: white;
    margin: 0;
    margin-bottom: 200px;
}



.logo {
    height: 40px;
    position: absolute;
    top: 5px;
    left: 20px;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}



.currentTemp p {
    display: inline-block;
    margin: auto;
}


.currentTemp p.small {
    vertical-align: top;
    line-height: 40px;
}

.currentTemp p.large {
    font-size: 100px;
    margin: auto;
}


.currentTemp {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}





.myChart {
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: white;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}


.appbar {
    border-bottom: 5px solid white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    color: #fff;

}

.logout-btn {
    position: static;
    height: 30px;
    margin-top: 5px;
    right: 0px;
    margin-right: 10px;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.welcome-title {
    position: fixed;
    top: 5px;
    right: 60px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content {
    display: block;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    text-align: center;
    display: none;
    color: black;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 5px;
    background-color: white;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.dropdown-content a {
    text-decoration: none;

}

.show {
    display: block;
}

.currentTemperatureText {
    text-align: center;
}

.bgimg {
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    filter: opacity(10);
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    opacity: 0.4;
}