.container {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    width: 50px;
    text-align: center;
    font-size: medium;
}