<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="icon" href="/static/images/Infinity.png" />
    <meta charset="UTF-8" />
    <title>Ad infinitum</title>
    <script src="/static/index.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index_style.css') }}"
    />
  </head>
  <body>
    <img class="bgimg" src="static/images/houseee.avif" />

    <div class="appbar">
      <div>
        <img class="logo" src="static/images/infinity.png" class="logo" />
        <div class="welcome-title">{{data[0]}} {{data[1]}}</div>
      </div>
      <div class="dropdown">
        <img
          onclick="myFunction()"
          class="logout-btn"
          src="/static/images/ios-arrow-down.png"
        />
        <div id="myDropdown" class="dropdown-content">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <div class="currentTemp">
      <p class="large" id="temperature"></p>
      <p class="small">°C</p>
    </div>

    <canvas class="myChart" id="myChart"></canvas>
    <script>
      var temperaturesData = "{{temperatures}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "");
      var datesData = "{{dates|safe}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "");

      var temperatures = temperaturesData.split(",");
      var dates = datesData.split(",");
      console.log(temperatures);
      console.log(dates);
      var xValues = [];
      var yValues = [];
      for (let index = temperatures.length - 1; index > 0; index--) {
        xValues.push(temperatures[index]);
        yValues.push(dates[index]);
      }

      new Chart("myChart", {
        type: "line",
        data: {
          labels: yValues,
          datasets: [
            {
              fill: false,
              lineTension: 0,
              backgroundColor: "rgba(0,0,255,1.0)",
              borderColor: "rgba(0,0,255,0.1)",
              data: xValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          scales: {
            yAxes: [
              {
                ticks: {
                  min: parseFloat("{{lastTemp}}") - 5,
                  max: parseFloat("{{lastTemp}}") + 5,
                },
              },
            ],
          },
        },
      });
    </script>
    <script>
      function updateTemperature() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("temperature").innerHTML =
              this.responseText;
          }
        };
        xhttp.open("GET", "/update_temperature", true);
        xhttp.send();
      }
      setInterval(updateTemperature, 1000);
    </script>
      
    </body>
  </body>
</html>
