<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="icon" href="/static/images/Infinity.png" />
    <link rel="stylesheet" href="/static/index/index.css" />
    <meta charset="UTF-8" />
    <title>Ad infinitum</title>
    <script src="/static/index/index.js"></script>
  </head>
  <body>
    <div class="appbar">
      <div>
        <img class="logo" src="static/images/infinity.png" class="logo" />
        <div class="welcome-title">{{user.firstName}} {{user.lastName}}</div>
      </div>
      <div class="dropdown">
        <img
          onclick="myFunction()"
          class="logout-btn"
          src="/static/images/ios-arrow-down.png"
        />
        <div class="dropdown-content">
          {% if user.role == "admin" %}
          <a class="registerButton" href="/register-another-user"
            >Register another user</a
          >
          {% endif %}
          <a class="logoutButton" href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <div class="bgimg"></div>
    <div class="sensors">
      <div class="parent1">
        <div class="loader" id="loader1"></div>
        <div id="errorSensorNotConnected1" class="errorSensorNotConnected">
          <div>Sensor not connected</div>
          <div id="lastActiveDate1" class="lastActiveDate"></div>
        </div>
        <div class="row" id="temp1">
          <div class="temp" id="temperature1"></div>
          <div class="c">°C</div>
        </div>
        <div class="room">House</div>
      </div>

      <div class="parent2">
        <div class="loader" id="loader2"></div>
        <div id="errorSensorNotConnected2" class="errorSensorNotConnected">
          <div>Sensor not connected</div>
          <div id="lastActiveDate2" class="lastActiveDate"></div>
        </div>
        <div class="row" id="temp2">
          <div class="temp" id="temperature2"></div>
          <div class="c">°C</div>
        </div>
        <div class="room">Basement</div>
      </div>
    </div>

    <div class="monitorTemperature" id="monitorTemperature">
      <h3
        style="
          text-align: center;
          margin: auto;
          margin-top: 10px;
          font-weight: bold;
        "
      >
        House
      </h3>

      <div class="monitorTemperatureRow">
        <div class="monitorTemperatureColumn">
          <h2>Fan</h2>
          <div class="device" id="fan"></div>
        </div>
        <div class="monitorTemperatureColumn">
          <h2>Targeted temperature</h2>
          <div class="targetedTemperature" id="targetedTemperature"></div>
          <br />
          {% if user.role == "admin" %}
          <div class="setTemp">
            <input
              class="tempField"
              type="temperature"
              id="set_targeted_temperature"
              min="10"
              max="40"
              required
            />
            <button onclick="setTemperature()">Set</button>
          </div>
          {% endif %}
        </div>
        <div class="monitorTemperatureColumn">
          <h2>Radiator</h2>
          <div class="device" id="radiator"></div>
        </div>
      </div>
    </div>

    <script>
      getTargetedTemperature();
      getDevicesStatus();
      setInterval(() => {
        getDevicesStatus();
      }, 1000);
    </script>

    <div class="myChartsRow">
      <canvas class="myChart1" id="myChart1"></canvas>
      <canvas class="myChart2" id="myChart2"></canvas>
    </div>

    <script>
      var temperatures1 = [];
      var temperatures2 = [];
      var dates1 = [];
      var dates2 = [];

      dbTemps1 = "{{temperatures1}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "")
        .split(",");
      dbDates1 = "{{dates1|safe}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "")
        .replaceAll("h", "")
        .replaceAll("m", ":")
        .replaceAll("s", "")
        .split(",");
      dbTemps2 = "{{temperatures2}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "")
        .split(",");
      dbDates2 = "{{dates2|safe}}"
        .split("[")
        .join("")
        .split("]")
        .join("")
        .replaceAll("'", "")
        .replaceAll("h", "")
        .replaceAll("m", ":")
        .replaceAll("s", "")
        .split(",");

      for (let index = 0; index < dbTemps1.length; index++) {
        temperatures1.push(dbTemps1[index]);
        dates1.push(dbDates1[index]);
      }
      for (let index = 0; index < dbTemps2.length; index++) {
        temperatures2.push(dbTemps2[index]);
        dates2.push(dbDates2[index]);
      }

      temperatures1 = temperatures1.reverse();
      dates1 = dates1.reverse();
      temperatures2 = temperatures2.reverse();
      dates2 = dates2.reverse();

      var myChart1 = new Chart(
        document.getElementById("myChart1").getContext("2d"),
        {
          type: "line",
          data: {
            labels: dates1,
            datasets: [
              {
                label: "House (°C)",

                backgroundColor: ["rgba(255, 99, 132, 0)"],
                borderColor: ["rgba(255,99,132,1)"],
                data: temperatures1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    min: 0,
                    max: 50,
                  },
                },
              ],
            },
            elements: {
              point: {
                radius: 2,
              },
            },
          },
        }
      );

      var myChart2 = new Chart(
        document.getElementById("myChart2").getContext("2d"),
        {
          type: "line",
          data: {
            labels: dates2,
            datasets: [
              {
                label: "Basement (°C)",

                backgroundColor: ["rgba(255, 255, 255, 0)"],
                borderColor: ["rgba(0,0,132,1)"],
                data: temperatures2,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    min: 0,
                    max: 50,
                  },
                },
              ],
            },
            elements: {
              point: {
                radius: 2,
              },
            },
          },
        }
      );

      chart1Function(myChart1);
      setInterval(() => {
        chart1Function(myChart1);
      }, 5000);

      chart2Function(myChart1);
      setInterval(() => {
        chart2Function(myChart1);
      }, 5000);
    </script>
  </body>
</html>
